button {
    all: unset;
    color: var(--brand-color-dark);
    padding: .75rem 1.25rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    gap: .75rem;

    cursor: pointer;

    img {
        width: 1.25rem; /* 20px */
        height: 1.25rem; /* 20px */
    }

    &.btn-primary {
        font: var(--body-md-semi-bold);
        color: white;
        background-color: var(--brand-color-dark);

        &:hover,
        &:focus {
            background-color: var(--brand-color-mid);
        }
    }

    &.btn-secondary {
        font: var(--body-sm-semi-bold);
        color: white;
        background-color: var(--shape-color-button);

        &:hover,
        &:focus {
            background-color: var(--shape-color-hover);
        }
    }
}