.terms {
    margin-top: 3rem;
    border-top: 1px solid var(--input-color-stroke);
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
}

.terms-wrapper {
    display: flex;
    gap: .75rem;
    align-items: flex-start;

    & a {
        font: var(--body-sm-semi-bold);
        color: var(--brand-color-light);
    }
}

.terms-wrapper + .terms-wrapper {
    margin-top: 0.25rem;
}

.checkbox-wrapper {
    position: relative;

    & [type="checkbox"] {
        all: unset;
        position: absolute;
        inset: 0;
    }

    .checkbox-image {
        flex: 0 0 1.25rem;
        height: 1.25rem;

        background-image: url(../../assets/icons/checkbox-default.svg);
    }

    &:has(:checked) .checkbox-image {
        background-image: url(../../assets/icons/checkbox-checked.svg);
    }
}