label + .radio-wrapper {
    margin-top: 0.75rem;
}

.radio-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
    gap: 1rem;
}

.radio-inner {
    border: 1px solid var(--input-color-stroke);
    border-radius: .5rem;
    background-color: var(--shape-color-button);

    display: grid;
    justify-items: center;
    gap: .5rem;

    padding: 0.25rem;

    position: relative;
    & input,
    & input:focus,
    & input:hover {
        all: unset;
        position: absolute;
        inset: 0;
    }

    .radio-image {

        width: 1.5rem;
        height: 1.5rem;

        position: absolute;
        top: .5rem;
        left: .5rem;
    }

    &:hover, &:focus-within {
        background-color: var(--shape-color-hover);
    }

    &:has(:checked) {
        border: 2px solid var(--brand-color-light);
    }
}