@import url(fields/index.css);

form {
    margin-top: 2.5rem; /* 40px */
}

fieldset {
    border: none;
    display: grid;
    gap: 1.5rem; /* 24px */
}

legend {
    font: var(--heading-sm);
    color: var(--text-color-heading);
    margin-bottom: 1.5rem; /* 24px */

    img {
        opacity: 0.8;
        width: 1.5rem; /* 24px */
        margin-right: -0.25rem; /* -4px */
    }
}

fieldset + fieldset {
    margin-top: 3rem; /* 48px */
}

.actions-wrapper {
    margin-top: 3rem; /* 48px */
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem; /* 16px */
}