#app {
    display: grid;
    grid-template-columns: 33.6% 66.4%; /* 430 + 850 = 1280 */
    height: 100vh;
    overflow: hidden;
    gap: 1.25rem; /* 20px */
}

aside {
    padding-block: 1.25rem; /* 20px */
    padding-left: 1.25rem; /* 20px */

    & .aside-container {
        background-image: url('../assets/images/Background.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 0.75rem; /* 12px */
        max-width: 26.875rem; /* 430px */
        margin-left: auto;
        height: 100%;
        padding: 2rem; /* 32px */

        & .logo {
            width: 3rem; /* 48px */
            margin-bottom: 1rem; /* 16px */
        }

        & .title {
            font: var(--logo);
            color: var(--accent-color-pink);
            margin-bottom: 0.25px; /* 4px */
        }

        & .subtitle {
            font: var(--body-md);
            color: var(--text-color-heading);
        }
    }
}

main {
    overflow: auto;
    padding-block: 1.25rem;
    padding-right: 1.25rem;

    & .main-container {
        background-color: var(--shape-color-body);
        border-radius: 0.75rem; /* 12px */
        max-width: 53.125rem; /* 850px */
        padding-block: 5rem; /* 80px */
        padding-inline: 8.125rem; /* 130px */
    }
}
